{% extends 'web/base.html' %}
{% load static %}
{% block content %}
{% include 'web/banner.html' %}
    <!-- Featured Products -->

    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            {% for product in featured_products %}
            <div class="col-4">
                <a href="{% url 'product_details' product.id %}">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" style="width: 225px; height: 330px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'web/images/placeholder.jpg' %}" style="width: 225px; height: 330px; object-fit: cover;">
                    {% endif %}
                </a>
                <h4>{{product.title}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>    
                <p>{{product.price}}</p>
            </div>
            {% endfor %}
        </div>
        
        <h2 class="title">Latest Products</h2>
        <div class="row">
            {% for product in latest_products %}
            <div class="col-4">
                <a href="{% url 'product_details' product.id %}">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" style="width: 225px; height: 330px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'web/images/placeholder.jpg' %}" style="width: 225px; height: 330px; object-fit: cover;">
                    {% endif %}
                </a>
                <h4>{{product.title}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>    
                <p>{{product.price}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
